{% extends 'base.html' %}
{% load static %}

{% block content %}

    <p></p>
    <center><h1 style="background-color: #5F9EA0;"> Pascasarjana</h1>
        <center><img src="/static/untirta.jpg" alt=""></center>
    <h2 style="background-color: #00FFFF;" >Jurusan Yang Ada Di PASCASARJANA</h2>
    <p style="background-color: #F0F8FF;" >Doktor Pendidikan</P>
    <p style="background-color: #F0F8FF;" >Doktor Ilmu Akuntansi</p>
    <p style="background-color: #F0F8FF;" >Magister Ilmu Hukum</p>
    <p style="background-color: #F0F8FF;" >Magister Ilmu Pertanian</p>
    <p style="background-color: #F0F8FF;" >Magister Administrasi Publik</p>
    <p style="background-color: #F0F8FF;" >Magister Akuntansi</p>
    <p style="background-color: #F0F8FF;" >Magister Ilmu Komunikasi</p>
    <p style="background-color: #F0F8FF;" >Magister Manajemen</p>
    <p style="background-color: #F0F8FF;" >Magister Teknik Kimia</p>
    <p style="background-color: #F0F8FF;" >Pendidikan Bahasa Indonesia</p>
    <p style="background-color: #F0F8FF;" >Pendidikan Bahasa Inggris</p>
    <p style="background-color: #F0F8FF;" >Pendidikan Matematika</p>
    <p style="background-color: #F0F8FF;" >Teknologi Pendidikan</p>

{% endblock %}