{% extends 'base.html' %}
{% load static %}

{% block content %}

    <p></p>
    <center><h1 style="background-color: #5F9EA0;" >Fakultas Teknik</h1></center>
    <center><img src="/static/untirta.jpg" alt=""></center>
    <h2 style="background-color: #00FFFF;" >Jurusan Yang Ada Di FT</h2>
    <p style="background-color: #F0F8FF;" >Jurusan Teknik Elektro</p>
    <p style="background-color: #F0F8FF;" >Jurusan Teknik Industri</p>
    <p style="background-color: #F0F8FF;" >Jurusan Teknik Kimia</p>
    <p style="background-color: #F0F8FF;" >Jurusan Teknik Mesin</p>
    <p style="background-color: #F0F8FF;" >Jurusan Teknik Metalurgi</p>
    <p style="background-color: #F0F8FF;" >Jurusan Teknik Sipil</p>

{% endblock %}