{% extends 'base.html' %}
{% load static %}
{% block content %}
    <P></P>
    <center><h1 style="background-color: #5F9EA0;" >Fakultas Ekonomi Dan Bisnis</h1></center>
    <center><img src="/static/untirta.jpg" alt=""></center>
    <h2 style="background-color: #00FFFF;">Jurusan Yang Ada di FEB</h2>
    <p style="background-color: #F0F8FF;">Progran Sarjana Menegement </p>
    <p style="background-color: #F0F8FF;"> Program Sarjana Akuntansi </p>
    <p style="background-color: #F0F8FF;" >Program Sarjana Ilmu Ekonomi Pembangunan </p>
    <p style="background-color: #F0F8FF;" >Program Sarjana Ekonomi Syariah </P>
    <p style="background-color: #F0F8FF;" >Program Diploma III Akuntansi </p>
    <p style="background-color: #F0F8FF;" >Program Diploma III Marketing </p>
    <p style="background-color: #F0F8FF;" >Program Diploma III Perpajakan </p>
    <p style="background-color: #F0F8FF;" >Diploma III Keuangan Perbankan </p>

   
{% endblock %}