{% extends 'base.html' %}
{% load static %}

{% block content %}

    <p></p>
    <center><h1 style="background-color: #5F9EA0;" >Fakultas Keguruan Dan Ilmu Pendidikan</h1></center>
    <center><img src="/static/FKIP.jpg" alt=""></center>
    <h2 style="background-color: #00FFFF;" >Jurusan Yang Ada Di FKIP</h2>
    <p style="background-color: #F0F8FF"  >Jurusan Pendidikan Nonformal</p>
    <p style="background-color: #F0F8FF;" >Jurusan Pendidikan Bahasa Indonesia</p>
    <p style="background-color: #F0F8FF;" >Jurusan Pendidikan Bahasa Inggris</p>
    <p style="background-color: #F0F8FF;" >Jurusan Pendidikan Biologi</p>
    <p style="background-color: #F0F8FF;" >Jurusan Pendidikan Matematika</p>
    <p style="background-color: #F0F8FF;" >Jurusan Pendidikan Guru Sekolah Dasar</p>
    <p style="background-color: #F0F8FF;" >Jurusan Pendidikan Guru PAUD</p>
    <p style="background-color: #F0F8FF;" >Jurusan Bimbingan Dan Konseling</p>
    <p style="background-color: #F0F8FF;" >Jurusan Pendidikan Fisika</p>
    <p style="background-color: #F0F8FF;" >Jurusan Pendidikan Ilmu Pengetahuan Alam</p>
    <p style="background-color: #F0F8FF;" >Jurusan Pendidikan Kimia</p>
    <p style="background-color: #F0F8FF;" >Jurusan Pendidikan Khusus</p>
    <p style="background-color: #F0F8FF;" >Jurusan Pendidikan Pancasila Dan Kewarganegaraan</p>
    <p style="background-color: #F0F8FF;" >Jurusan Pendidikan Sejarah</p>
    <p style="background-color: #F0F8FF;" >Jurusan Pendidikan Seni Dan Pertunjukan</p>
    <p style="background-color: #F0F8FF;" >Jurusan Pendidikan Sosiologi</p>
    <p style="background-color: #F0F8FF;" >Jurusan Pendidikan Vokasional Teknik Elektro</p>
    <p style="background-color: #F0F8FF;" >Jurusan Pendidikan Vokasional Teknik Mesin</P>

{% endblock %}