{% extends 'base.html' %}
{% load static %}

{% block content %}

    <p></p>
   <center><h1 style="background-color: #5F9EA0;" >Fakultas Ilmu Sosial Dan Politik</h1></center>
   <center><img src="/static/untirta.jpg" alt=""></center>
    <h2 style="background-color: #00FFFF;" >Jurusan Yang Ada Di FISIP</h2>
    <p style="background-color: #F0F8FF;" >Program Studi Administrasi Publik</p>
    <p style="background-color: #F0F8FF;" >Program Studi ilmu Komunikasi</p>
    <p style="background-color: #F0F8FF;" >Program Studi Ilmu Pemerintahan</p>

{% endblock %}