{% extends 'base.html' %}
{% load static %}

{% block content %}

    <p></p>
    <center><h1 style="background-color: #5F9EA0;">Fakultas Kedokteran</h1></center>
    <center><img src="/static/untirta.jpg" alt=""></center>
    <h2 style="background-color: #00FFFF;" >Yang Ada Di FK</h2>
    <p style="background-color: #F0F8FF;" >Prodi Kedokteran</P>
    <p style="background-color: #F0F8FF;" >Keperawatan S1</p>
    <p style="background-color: #F0F8FF;" >Prodi Keperawatan D3</P>
    <p style="background-color: #F0F8FF;" >Prodi S1 Gizi</p>
    <p style="background-color: #F0F8FF;" >Prodi Ilmu Keolahragaan</p>

{% endblock %}